<%- include('./partials/header') %>
<div class="container">
    <div class="row my-5">
        <div class="col-md-8 col-lg-6 offset-md-2 offset-lg-3">
            <div class="row">
                <!--Title-->
                <div class="col-xs-12 mb-3">
                    <h1 class="fw-bold"> <%= article.title %></h1>
                </div>
            </div>
            <div class="row">
                <!--Sustitle-->
                <div class="col-xs-12">
                    <h2 class="text-secondary-emphasis"> empty</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="nav fs-3 mini-share-bar">
                        <li class="select-item"><a class="nav-link select-share  text-body-secondary" href=""><i class="fa-brands fa-x-twitter"></i></a></li>
                        <li class="select-item"><a class="nav-link select-share text-body-secondary" href=""><i class="fa-brands fa-facebook-f"></i></a></li>
                        <li class="select-item"><a class="nav-link select-share text-body-secondary" href=""><i class="fa-brands fa-instagram"></i></a></li>
                        <li class="select-item"><a class="nav-link select-share text-body-secondary" href=""><i class="fa-regular fa-envelope"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <!--Contenido multimedia, imagen video, audio, etc-->
                <div class="col-xs-12">
                    <figure class="figure my-1">
                        <hr>
                        <img src="<%= article.image_url %>" class="figure-img img-fluid" alt="">
                        <!--data source-->
                        <figcaption class="figure-caption">El edificio de la Bolsa de Comercio, pionero entre los "gigantes" del Bajo porteño. Foto: Guillermo Rodríguez Adami</figcaption>
                        <hr>
                    </figure>
                </div>
            </div>
            <div class="row mb-4 d-flex align-items-center">
                <!-- Data of author-->
                <div class="col-2">
                    <img class="img-fluid imagen-redondeada" src="https://miro.medium.com/v2/resize:fill:44:44/1*ChLj4H1bkCLD6RJzzM3iIg.png" alt="">
                </div>
                <div class="col">
                    <p class="m-0"><%= article.author %></p>
                    <span class="text-secondary"> <%= article.fecha_publicacion %></span>
                </div>
            </div>
            <p><%= article.contenido %></p>
        </div>
    </div>
</div>
<!--tags-->
<%- include('./partials/footer') %>